.title {
    font-family: 'Roboto', sans-serif;
    font-size:3.5rem;
    color: var(--bgcolor-theme);
    font-weight: 700;
}

.black-title{
    color: var(--text-color) ;
}
.gold-title{
    color: var(--text-color2);
}

